.bubbleIconContainer {
  visibility: hidden;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  border-radius: 15px;
  color: white;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.bubbleIcon {
  height: 35px;
  width: auto;
  top: 0;
  left: 0;
  border-radius: 50%;
  position: absolute;
}

.bubbleIcon:hover {
  filter: drop-shadow(0px 2px 4px #ccc);
}

.bubble {
  visibility: hidden;
  position: absolute;
  z-index: 999;
  float: left;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 999 !important;
}

.bubbleContent {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  background-color: white;
  border: 1px solid #aaa;
  padding: 0px 15px;
  padding-top: 20px;
  padding-bottom: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-width: 200px;
  max-width: 250px;
}

.closeButton {
  position: absolute;
  top: 3px;
  right: 10px;
  color: #aaa;
  float: right;
  font-size: 0.9em;
  font-weight: bold;
}

.dict-selection {
  margin-bottom: 10px;
}

.closeButton:hover,
.closeButton:focus {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}

.langText {
  font-size: 0.9em;
  font-weight: normal;
  color: #333;
  font-family: "Shan";
  margin: 5px !important;
  padding-top: 5px;
}

.type {
  font-style: italic;
  color: rgba(0,0,0,0.5);
}
.translatedText {
  font-size: 16px;
  font-family: "Shan";
  font-weight: bold;
  margin: 5px !important;
}

.websiteLink {
  font-size: 13px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.25);
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: flex-end;
  font-family: "Shan";
}

.websiteLink:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.speak-button {
  padding: 0;
  border: none;
  background: none;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}
